body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 80%;
}

p, ul, ol, dl {
  font-size: 1.2rem;
  line-height: 1.7rem;
  margin-bottom: 30px;
}

article {
  max-width: 620px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}

h1, h2, h3, h4 {
  font-family: 'Ubuntu'
}

h1 {
  font-size: 2.75rem;
  margin: 20px 0;
}

h2 {
  font-size: 2rem;
  margin: 20px 0;
}

h3 {
  font-size: 1.5rem;
  margin: 20px 0 8px 0;
}

h4 {
  font-size: 1.25rem;
  margin: 20px 0;
}

.credit {
  margin-top: 2px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.credit2 {
  margin-top: .1px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: right;

}

.span {
  font-style: italic;
  font-size: 10px;
}

blockquote {
  border-left: 4px solid grey;
  padding-top: 20px;
  padding-left: 30px;
  font-size: 1.2rem;
}

ol {
  list-style-position: inside;
}

div {
  background-color: #CCC;
  padding: 12px;
}
